@import "tailwindcss";

@theme {
    --font-logo: 'Space Grotesk', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-heroTitle: 'Impact', sans-serif;

    --tracking-2: 0.2em;

    --animate-fadeUp: fadeUp 0.6s 0.1s forwards;

    @keyframes fadeUp {
      from { opacity: 0; transform: translateY(14px); }
      to   { opacity: 1; transform: translateY(0); }
    }
}

@layer components {
  .btn-primary {
    @apply text-white/80 bg-[#7C3AED]/20 backdrop-blur-md shadow-inner 
        hover:bg-purple-700 hover:text-white cursor-pointer 
        transition px-5 max-w-2xs py-2 rounded-lg font-medium;
  }

  .btn-secondary-1 {
    @apply text-white/70 border border-white/20 
            hover:border-white/40 hover:text-white 
            bg-transparent backdrop-blur-md 
            px-5 py-2 rounded-lg font-medium 
            transition cursor-pointer;
  }

  .btn-secondary-2 {
    @apply text-white/70 bg-white/5 
            hover:bg-white/10 hover:text-white 
            backdrop-blur-md 
            px-5 py-2 rounded-lg font-medium 
            transition cursor-pointer;
  }

  .btn-ghost {
    @apply text-white/70 hover:text-white 
            bg-transparent backdrop-blur-md 
            px-5 py-2 rounded-lg font-medium 
            transition cursor-pointer;
  }

  .btn-pill {
    @apply hover:bg-purple-500 text-[#fbffff] text-sm font-light cursor-pointer py-2 px-8 rounded-full border border-purple-500 bg-transparent backdrop-blur-md transition duration-300
  }

  .btn-sub-pill {
    @apply hover:bg-purple-500 text-[#fbffff] text-sm font-light cursor-pointer py-2 px-8 rounded-lg bg-transparent backdrop-blur-md transition duration-300
  }

  .btn-time-pill {
    @apply hover:bg-purple-500 text-[#fbffff] text-sm font-light py-2 px-8 rounded-lg bg-transparent backdrop-blur-md border border-[#7C3AED]/40 transition duration-300 cursor-pointer;
  }

  .pill_active {
    @apply bg-purple-500 text-white border-purple-500;
  }

  .badge {
    @apply bg-[#7C3AED]/60 text-white px-2 py-1 rounded-full text-xs font-bold;
  }

  .carousel-card{
    @apply absolute flex flex-col p-6 rounded-2xl bg-cover bg-center w-182.5 transition-all duration-700 ease-in-out;
  }

  .pos-exit {
    @apply h-125 top-0 -left-140 opacity-0 z-40;
  }

  .pos-enter {
    @apply h-105 top-13 left-140 opacity-0 z-0;
  }
}


body {
    /* background: url('/bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    /* background-color: #0a0615;
    background-image: 
        radial-gradient(circle at 30% 20%, rgba(140,69,255,0.25), transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(88,28,255,0.2), transparent 60%); */

    background: #0a0615;
    background-image: 
      radial-gradient(1200px at 20% 10%, rgba(124,58,237,0.15), transparent),
      radial-gradient(1000px at 80% 90%, rgba(88,28,255,0.12), transparent);
    background-attachment: fixed;
}